html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 0;
}


/* contact number  */

.contact-phone {
  display:block;
  /* text-align: marquee; */
  font-size: 24px;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
     }

/* OLD CSS  */
/* navbar  */
.nav-wrapper{
  /* background-color: #aa00ff; */
  background-color: #aa00ff;
  position: absolute;
  height: 20px;
  display: block;
  top: 0px;
  color: #000;
}


nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #000000;
  display: block;
  padding: 0 15px;
  cursor: pointer;
  font-weight: bold;

  border-radius: 185;

}

.logoc{
color: #000000;
font-weight: bolder;
}







.sidenav{
  background-color: #aa00ff;
  
  
}

/* navbarend */


/* Sticktheader */

.header.header-scrolled {
  background: #aa00ff;
  /* padding: 15px 0; */
  /* box-shadow: 0px 2px 20px rgb(1 41 112 / 10%); */
}

.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 0px 0;
  
}


.fixed-top {
  position: fixed;
  top: -4px;
  right: 0;
  left: 0;
  z-index: 1030;
}


/* slider */



/* element.style {
  height: 100%;
  width:100%;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/632/978/370/airplane-sky-air-travel-airbus-wallpaper-preview.jpg);
} */

.slider {
  margin-top: 3.9%;
  width: 100%;
  height: 500px;
}


img{
  width: 10%;
}

.slider-resize{
  width: 100%;
  height: 650px;
}





#slides{
    width: 100%;
    height: 650px;
    margin-top: 3.9%;
}


/* slider end  */




.slider .indicators .indicator-item.active{
  background-color: #aa00ff;
  margin-top: auto;
}
/* .move {
  margin-bottom: 20px;
} */

.logoc {
  margin-left: 15px;
}



/* OLD CSS END  */











/* header */


nav ul li a:hover{
  transition: 0.3s;
  font-size: 20px !important;
  background-color: #7302ac;
  color: #f5ebeb !important;
  border-bottom: 3px solid #ff0faf
}










.flight{
  background-color: #ffc146 !important;
}
.train{
  background-color: #ff7676 !important;
}
.bus{
  background-color: #cc9292 !important;
}
.hotel{
  background-color: #76a9de !important;
}
.movie{
  background-color: #76a9de !important;
}
.bill{
  background-color: #76d7de !important;
}
.btn-font{
  font-size: 24px !important;
  font-family: sans-serif;
  font-weight: bold;
}
/* 
.feature-title{
  color: #616161;
  font-size: 34px;
  font-family: 'Pacifico',cursive;
}
.feature-subtitle{
  color: #838383;
  font-size: 24px;
  font-family: sans-serif;
}
.row i{
  color: #ff904d;
}
.about-sect{
  width: 100%;
  height: auto;
  padding: 60px;
  background-color: #9a45e0;
  color: white;
}
.about-title{
  font-size: 48px;
  font-family: serif;
}
.about-text-title{
  font-size: 30px;
  color: #ffffff;
  opacity: 0.9;
  font-family: sans-serif;
}
.about-text{
font-size: 14px;
font-family: 'Play',sans-serif;  
} */
/* .slider{
  overflow: visible;
  height: 650px;
} */
.mobile-menu{
  display: none !important;
}



/* MANUAL CARDS START  */



.titl{
  text-align: center;
  
  display:block;
  font-size: 20px;
  color: dark;
  font-weight: bold;
 
  text-shadow: 0 2px 5px (0,0,0,.2)
}
section{
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
/*   font-family: 'Alegreya Sans', sans-serif; */
/*   background: #eee;  */
}
.container1{
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap:60px;
  margin: 20px auto;
  
}

.container1 .card{
  position:relative;
  width: 270px;  
  height: 390px;
  margin: 0 auto;
  background: #dbf3fa;
  border-radius: 17px;
  box-shadow: 0 15px 60px rgba(0,0,0,.5);  
}

.container1 .card .face{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
}

.container1 .card .face.hidden{
  box-sizing: border-box;
  padding: 30px;
}

.container1 .card .face.hidden h2{
  margin: 0;
  padding: 0;
}

.container1 .card .face.front{
  display: grid;
  grid-template-rows:175px 100px;
  grid-template-areas: "icon" "text";
  background: #c143e7;
  text-align: center;
  transition: all .5s ease;
}

.container1 .card .face.front i{
  grid-area: icon;
}
.container1 .card .face.front h2 {
  grid-area: text;
}


/* 
.container .card:nth-child(1) .face.front{
   background: #800000;  
  margin-top: 12cm;
}

.container .card:nth-child(2) .face.front{
   background: #037fa1;  
}

.container .card:nth-child(3) .face.front{
   background:#3ec9be;  
} */

.container1 .card:hover .face.front{
  width:0px;   

}

.container1 .card .face.front:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,.1);
}

.face.front i {
  grid-area: icon;
  display:block;
  font-size: 80px;
  margin-top:120px;
  color: #fffbf1;
  font-weight: normal;
  transition: all .5s ease;
  text-shadow: 0 2px 5px (0,0,0,.2)
        }

.container1 .card:hover .face.front i {
  font-size:0;
 
}


.face.front h2{
  grid-area: text;
  font-size: 2.5em;
  color: #ffffff;
  font-size: 27px;
   font-family: "Josefin Sans";
/*   width:5px; */
  margin-top: 120px;
  text-align: center;
  margin-bottom: 45px;
  text-transform: uppercase;
  transition: all .5s ease;
  text-shadow: 0 2px 5px (0,0,0,.2);
}

.container1 .card:hover .face.front h2{
 font-size:0;
}

@media screen and (max-width: 820px) {
  .container1 .card{
  padding: 0 20px;
  width: 250px;
  height: 350px;
 
}
.face.front h2{
 grid-area: text;
  font-size: 2em; 
 
}
  
}

@media screen and (max-width: 480px) {
  .container1 .card{
  padding: 0 20px;
  width: 200px;
  height: 300px; 
}
 .face.front h2{
  grid-area: text;
  font-size: 1.5em; 
}

  .container .card .face.hidden h2{
    font-size: 1.5em;
    
  }
  
  .container .card .face.hidden p{
    font-size: .9em;
    
  }
}




/* footer 
 */

 .footer-one{
  background: #aa00ff;
}

.footer-two{
  background: #7600b1;
}

/* .footer{
  
} */

.social-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  border-radius: 50%;
  transform: all 0.5s;
  margin-top: 50px;
  /* z-index: 5; */
  /* position: relative; */
  /* display: inline-block; */
}

.social-icon :hover {
  color: rgb(226, 43, 43);
  border-color: #000000;
  

}

section {
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 0vh;
  /* font-family: 'Alegreya Sans', sans-serif; */
  /* background: #eee; */
}


/* custom button  */







/* Slideshow container */
/* .slides {
  width: 100%;
  height: 650px;
  position: absolute;
  margin: 0 auto;
  overflow: ;
} */



/* Images */

/* 
#image1 {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/632/978/370/airplane-sky-air-travel-airbus-wallpaper-preview.jpg');
  height: auto;
}

#image2 {
  background-image: url('https://farm5.staticflickr.com/4546/38003202935_c6d6db1eb6_h.jpg');
}

#image3 {
  background-image: url('https://farm5.staticflickr.com/4579/38174581374_26885dcc23_h.jpg');
}

#image4 {
  background-image: url('https://farm5.staticflickr.com/4551/38003202815_ab178215af_h.jpg');
}

#image5 {
  background-image: url('https://farm5.staticflickr.com/4542/38003202725_0364c69d05_h.jpg');
}

#image6 {
  background-image: url('https://farm5.staticflickr.com/4555/38003202895_b7b4953b25_h.jpg');
} */

/* New York images */
/* 
#nyImage1 {
  background-image: url('https://farm5.staticflickr.com/4543/38249763592_55cdbfb027_b.jpg');
}

#nyImage2 {
  background-image: url('https://farm5.staticflickr.com/4532/38227002386_fddcc0635b_b.jpg');
}

#nyImage3 {
  background-image: url('https://farm5.staticflickr.com/4516/38249763212_e421854ff5_b.jpg');
}

#nyImage4 {
  background-image: url('https://farm5.staticflickr.com/4548/38249763102_cd9b76131c_b.jpg');
}

#nyImage5 {
  background-image: url('https://farm5.staticflickr.com/4569/38249763472_e094bb0724_b.jpg');
}

#nyImage6 {
  background-image: url('https://farm5.staticflickr.com/4516/38249763372_62088964d8_b.jpg');
}

#nyImage7 {
  background-image: url('https://farm5.staticflickr.com/4572/38249763302_549c841d66_b.jpg');
}

#nyImage8 {
  background-image: url('https://farm5.staticflickr.com/4554/24410720098_a5b71feba6_b.jpg');
} */

/* Vegas Images */
/* 
#vegasImage1 {
  background-image: url('https://farm5.staticflickr.com/4564/37570834404_f45cfe771d_b.jpg');
}

#vegasImage2 {
  background-image: url('https://farm5.staticflickr.com/4550/26505905839_5676fbb88b_b.jpg');
}

#vegasImage3 {
  background-image: url('https://farm5.staticflickr.com/4557/26505905649_f4081ca482_b.jpg');
}

#vegasImage4 {
  background-image: url('https://farm5.staticflickr.com/4564/26505905499_279233b7c4_b.jpg');
}

#vegasImage5 {
  background-image: url('https://farm5.staticflickr.com/4534/26505905409_bba92bdc4f_b.jpg');
}

#vegasImage6 {
  background-image: url('https://farm5.staticflickr.com/4520/37570834154_63731189e0_b.jpg');
}

#vegasImage7 {
  background-image: url('https://farm5.staticflickr.com/4525/37570833794_e2469b66b7_b.jpg');
}

#vegasImage8 {
  background-image: url('https://farm5.staticflickr.com/4524/37570834064_6e9d7d5f7d_b.jpg');
}

#vegasImage9 {
  background-image: url('https://farm5.staticflickr.com/4530/26505905229_d74565c5f2_b.jpg');
} */

/* Malta */





/* pop up form css  */



main{
  /* background: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  /* background-size: ; */
    /* background-color:#DAC9C9; */
  background-repeat: no-repeat;
  /*   background-color: var(--opaque_teal); */
   
    padding: auto;
  }
  #main-form{
     margin: 0 50px 10px 50px;
    padding: auto;
  /*   background-color: var(--opaque_inner_teal); */
  /*   border: 12px #A23BDE ; */
    opacity: .7;
    border-radius: 17px;
    line-height: 3;
  /*   width: 5555px; */
    color: #000;
     font-weight: bolder;
    font-size: 25px;
  }
  
  
  
  #title{
    font-family: Algerian,Times New Roman;
    color: #000 ;
    font-size: 2.4rem;
    text-align: center;
  }
  #description{
    text-align: center;
    font-size: 1.4rem;
    color:#000 ;
  }
  
  #submit{
    width: 100%;
    height: 45px;
    background: rgb(177, 31, 196);
    color: black;
    border-radius: 17px;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 600;
  }
  #submit:hover{
   color: #A23BDE;
    background: #29df56;
    outline: none;
    position: relative;
    background-color: black;
    
  }






  
  
  input {
    width: 68%;
      -webkit-writing-mode: horizontal-tb !important;
      text-rendering: auto;
  /*     color: -internal-#FFFFFF ; */
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
     border-radius: 19px;
      text-indent: 0px;
    color: black;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      appearance: auto;
      background-color: #000000;
      -webkit-rtl-ordering: logical;
      cursor: text;
      margin: 0em;
      font: 899 25.3333px Arial;
      padding:auto;
  /*     border-width: 10px; */
      border-style: inset;
  /*     border-color:#A23BDE ; */
      border-image: initial;
     font-weight: normal;
  }
  
  
  
  
  
  input:hover{
     color: rgb(0, 0, 0);
  /*   background: #A23BDE ; */
    outline: none;
    position: relative;
     border-radius: 0px;
    background-color: #9b00fc ;
  
  
  }
  
  
  fieldset {
      display: abslute;
     border-radius: 19px;
      margin-inline-start: 1px;
      margin-inline-end: 2px;
      padding-block-start: 0.35em;
      padding-inline-start: 0.75em;
      padding-inline-end: 0.75em;
      padding-block-end: 0.625em;
      min-inline-size: min-content;
      border-width: 3px;
      border-style: groove;
      /* border-color: threedface; */
      border-image: initial;
    
    
  }
  fieldset:hover{
    color: black  ; 
    outline: none;;
  /*   background: #A23BDE ; */
    outline: none;
    position: relative;
     border-radius: 0px;
  }
  
  
  select {
      -webkit-writing-mode: horizontal-tb !important;
      text-rendering: auto;
      color: -internal-light-dark(black, white);
      letter-spacing: normal;
      word-spacing: normal;
    
      text-transform: none;
      text-indent: auto;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      appearance: auto;
      box-sizing: border-box;
      align-items: center;
      white-space: pre;
      -webkit-rtl-ordering: logical;
      background-color: #FFFFFF;
      cursor: default;
      margin: 0em;
      font: 400 13.3333px Arial;
      
      border-width: 1px;
      border-style: solid;
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
      border-image: initial;
    
     
  
    color: black;
    border-radius: 17px;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 600;
  }


  button, input, optgroup, select, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    width: 100%;
    height: 45px;
  /*   background: green; */
    color: black;
    border-radius: 17px;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 600;

  }



  /* close button of toggle  */
  .modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
    margin: 6px 0px;
    background-color: rgb(177, 31, 196);
    border-radius: 127px;
  }

  .modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat:hover {
    margin: 6px 0px;
    background-color: rgb(255, 19, 19);
    border-radius: 127px;
  }